header{
    background-color: rgb(133, 163, 133);
    text-align: center;
    padding: 10px;
    font-size: 10px;
}

html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Freemono, monospace;
}


/* GAME SETUP CSS START */

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}

fieldset{
    border: none;
    display: flex;
}

form h2{
    text-align: center;
    margin: 5px;
}

fieldset div{
    display: flex;
    margin: 10px;
    flex: 1;
    flex-direction: column;
    text-align: center;
    background-color: lightgray;
    border-radius: 30px;

}

fieldset div input, fieldset div select{
    margin: 1em;
}

label{
    margin-top: 1em;
    font-weight: bold;
}

input:invalid:focus{
    background-color: rgb(250, 107, 107);
}

input:invalid{
    box-shadow: 0 0 3px 3px rgb(248, 121, 121);
}


/* GAME SETUP CSS END */





/* GAME BOARD CSS START */


main{
    display: flex;
    height: 100%;
    margin: 20px;
}

#gameBoard_section{
    display: grid;
    flex: 3;
    width: 100%;
    height: 100%;
}

button{
    background-color: rgb(238, 238, 238);
    color: rgb(39, 71, 39);
    font-size: 15px;
    font-weight: bold;
}
button:active{
    background-color: gray;
}

button:hover{
    box-shadow: 0 0 3px 3px rgb(124, 65, 65);
}
button:disabled{
    opacity: 60%;
    box-shadow: 0 0 2px 2px red;
}

#startButton{
    color: white;
}

#gameBoard_section button{
    margin-top: auto;
}

#searchTiles{
    visibility: hidden;
    text-align: center;
    margin: 20px 0 0 0;
}

.divCol{
    border: solid black 2px;
    width: 90%;
    height: 90%;
    margin: 10px;
    text-align: center;
    font-size: 15px;
}


.divCol:hover{
    box-shadow: 0 0 3px 3px rgb(44, 104, 44);
}

.divCol.clicked{
    border: 3px solid rgb(2, 175, 2);
    box-shadow: none;
}

.divRow{
    display: flex;
    justify-content: space-around;
}

#highScore_section{
    display: flex;
    flex-direction: column;
    flex: 1;
}

#highscoreResults{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
}

#highscoreHeader{
    text-align: center;

}

#clearLocal{
    margin-top: auto;
    width: 50%;
    align-self: center;
    border: rgb(185, 185, 185) ridge 3px;
}

.green{
    color: green;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 2px 2px green;
}
/* GAME BOARD CSS END */



/* FOOTER CSS START */

footer{
    background-color: rgb(133, 163, 133);
    text-align: center;
    margin-top: auto;
}