@media only screen and (max-width: 650px){
    html,body{
        height: 120%;
        width: 100%;
        font-size: smaller;
    }

    fieldset{
        flex-direction: column;
    }
    main{
        flex-direction: column;
        height: 100%;
    }

    .divRow{
        display:flex;
        justify-content: space-around;
        margin: 2px;
    }
    .divCol{
        border: solid black 2px;
        width: 80%;
        text-align: center;
        font-size: 15px;
    }
    button{
        font-size: smaller;
    }
    input, select{
        font-size: smaller;
    }
}
